.list-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f6f6f6; 
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .list-container-table {
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff; 
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .product-table thead tr {
    background-color: #f6f6f6; 
    color: #333333; 
    height: 60px;
  }
  
  

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  .search-input {
    width: 20%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
  }

  .btn-primary {
    background-color: #ffc107;
    color: #0f265c;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Kadin Medium';
    font-weight: bold;
  }

  .product-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    color: #2c2c30;
  }

  .records-select {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }